# Git & Version Control
.git/
.gitignore

# Virtual Environments
.venv/
venv/
env/

# Python cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Secrets & Environment variables
.env
.env.*
credentials.json
service-account*.json

# Processed full dataset (large files)
data/processed/*.parquet
data/raw/
*.csv
*.zip

# Power BI local files & caches
**/.pbi/
*.pbix

# IDE config
.vscode/
.idea/
