# =============================================
# File này là MẪU — copy thành .env rồi điền
# KHÔNG commit file .env lên git
# =============================================

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ccip_dw
POSTGRES_USER=ccip_user
POSTGRES_PASSWORD=your_strong_password_here

# Kaggle API (lấy từ https://www.kaggle.com/settings → API → Create New Token)
KAGGLE_USERNAME=thienph17
KAGGLE_KEY=2e7bb2fce65c023fce459164f42c467b

# FRED API (đăng ký miễn phí tại https://fred.stlouisfed.org/docs/api/api_key.html)
FRED_API_KEY=299d3948159fc4b05bdf0a16bf9182ec
